# Ignore the archive directory for linting
_*

/_archive/**/*
/.git/**/*
/.github/**/*
/.husky/**/*
/.vscode/**/*

/coverage/**/*
# "/docs/**/* //TODO: check if docs should be ignored. I think they should be linted.
/node_modules/**/*
